@import "../../../_css/common";

.selections {
  display: flex;
  gap: var(--base);
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
}
.odd{
  background-color: var(--theme-elevation-200);
}

/* Helpers */
.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCapitalize {
  text-transform: capitalize;
}

.textUppercase {
  text-transform: uppercase;
}

.textLowercase {
  text-transform: lowercase;
}