@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.navItem {
  position: relative;
  ul {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 100;
    flex-direction: column;
    gap: var(--base);
    border: 1px solid var(--theme-elevation-200);
    padding: var(--base);
    background-color: var(--theme-elevation-200);
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}

.button {
  all: unset;
  cursor: pointer;
  position: relative;
  display: flex;
  padding: calc(var(--base) / 2);
  color: var(--color-elevation-500);
  /* border: 1px solid var(--theme-elevation-200); */

  &:disabled {
    cursor: not-allowed;
    color: var(--theme-elevation-200);
    border-color: var(--theme-elevation-150);
  }
}